{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="container_login">
    <h1>Сброс пароля</h1>
    <hr>
    <form action="{% url 'password_reset' %}" method="post">
        <div class="mb-3">
            <div class="mb-3">
                <label  class="form-label">Email:</label>
                {{ form.email }}
            </div>
        {% csrf_token %}
        </div>
    <button type="submit" class="btn btn-success">Отправить</button>
    </form>
    </div>
</div>

{% endblock %}