{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container_home">
    <div class="header_home ">
        <h1>Добро пожаловать в сервис анализа финансового состояния!</h1>
        <p>Наш сервис предоставляет уникальную возможность проанализировать финансовое состояние вашей организации и оценить ее ликвидность на основе данных финансового баланса.</p>
    </div>

    <div class="feature-box_home ">
        <h2>Как это работает?</h2>
        <p>Просто загрузите данные финансового баланса вашей организации в формате EXCEL, и наш сервис автоматически проанализирует их, выявив ключевые показатели финансового здоровья и уровень ликвидности.</p>
        <p>Мы предоставляем детальные отчеты и графики, которые помогут вам лучше понять текущее положение дел и принять необходимые меры для улучшения ситуации.</p>
    </div>
        {% if user.is_authenticated %}
    <div class="feature-box_home ">
        <h2>Начните прямо сейчас!</h2>
        <p>Загрузите данные финансового баланса вашей организации и получите полный отчет о ее финансовом состоянии и ликвидности прямо сейчас! Наш сервис всегда готов помочь вам достичь финансового успеха и уверенности в будущем.</p>

<a href="{% url 'balance' %}" class="btn btn-primary_home ">Загрузить данные</a>

{% else %}
<a href="{% url 'login' %}" class="btn btn-primary ">Войти</a>
{% endif %}
    </div>
</div>

{% endblock %}